<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="emp-controller" class="kosmo80.mvc.sp1.EmpController">
		<property name="methodNameResolver" ref="emp-resolver"/>
		<property name="empLogic" ref="emp-logic"/>
	</bean>	
	<bean id="url-mapping" 
	class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/di/getEmpList.sp1">emp-controller</prop>
				<prop key="/di/getEmpList2.sp1">emp-controller</prop>
				<prop key="/di/empInsert.sp1">emp-controller</prop>
				<prop key="/di/empUpdate.sp1">emp-controller</prop>
				<prop key="/di/empDelete.sp1">emp-controller</prop>
			</props>
		</property>
	</bean>
	<bean id="emp-resolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/di/getEmpList.sp1">getEmpList</prop>
				<prop key="/di/getEmpList2.sp1">getEmpList2</prop>
				<prop key="/di/empInsert.sp1">empInsert</prop>
				<prop key="/di/empUpdate.sp1">empUpdate</prop>
				<prop key="/di/empDelete.sp1">empDelete</prop>
			</props>
		</property>
	</bean>	

	<!-- 
	public ModelAndView getDeptList(HttpServletRequest req, HttpServletResponse res){
	WEB-INF/views/dept/getDeptList.jsp
		return new ModelAndView().setViewName("dept/getDeptList");
	}
	 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
