<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<!-- 
web.xml문서는 톰캣 서버 기동시 가장 먼저 스캔하는 문서임.
배치서술자 라고 불린다.
<context-param>태그안에 오는 선언은 서버 기동시 한번 읽어서 서버가 종료될때까지 기억함.
프로젝트 공통됨 관심사(JDBC연동, 로그관리, 보안문제, 트랜잭션처리) 인것들 중에서 
로그에 대한 설정을 실습
 -->  
  <context-param>
  	<param-name>log4jConfigLocation</param-name>
  	<param-value>/WEB-INF/classes/log4j.properties</param-value>
  </context-param>
  <servlet>
  	<servlet-name>helloWeb</servlet-name>
  	<servlet-class>web.basic.HelloWeb</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>helloWeb</servlet-name>
  	<url-pattern>/helloServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>deptBasic</servlet-name>
  	<servlet-class>web.basic.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deptBasic</servlet-name>
  	<url-pattern>/dept/deptList.nhn</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>pojo1_board</servlet-name>
  	<servlet-class>pojo.board.step1.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>pojo1_board</servlet-name>
  	<url-pattern>/board/crudBoard.po1</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>pojo2_board</servlet-name>
  	<servlet-class>pojo.board.step2.FrontMVC</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>pojo2_board</servlet-name>
  	<url-pattern>*.po2</url-pattern>
  </servlet-mapping>
</web-app>